.calendar-container, .date, .day {
 // position: absolute;
  float: left;
  width: @left-side-width;
}

.date, .day {
  clear: both;
  margin: 0 @element-margin;
}

.date {
  font-size: @size-4;
}

.day {
  font-size: @size-3;
}