.detail-container {
  // position: absolute;
  float: left;
  width: @right-side-width;

  .event-display {
    display: block;
    max-width: 100%;
    //margin: 0 @element-margin;
    //float: left;
  }

  .details {
    display: block;
    padding: 0;
    float: right;
    max-width: 90%;

    .detail {
      text-align: right;
      list-style: none;

      &.location {
        font-size: @size-3;
      }
      &.name {
        font-size: @size-4;
      }
      &.description {
        font-size: @size-2;
      }
    }
  }
}