@icon-size: 30px;

.list-container {
  //position: relative;
  //left: 300px;
  float: left;
  width: @mid-section-width;
  margin: 0 @component-margin;

  .event {
    display: inline-block;
    margin: 0 @element-margin;

    &.location {
      font-size: @size-3;
    }
    &.name {
      font-size: @size-4;
    }
    &.button {
      .box(auto;auto;transparent);
      :not(.first) {
        padding-left: @icon-size;
      }
      //float: left;
      text-align: left;
    }
  }

  .time-icon {
    height: @icon-size;
    width: @icon-size;
  }
}